.customField {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;

  &__entitySelectWrapper {
    min-width: 130px;

    :first-child {
      margin: 0;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;

    :global .ant-tabs-content-holder,
    :global .ant-tabs-content,
    :global .ant-tabs-tabpane:not(:global .ant-tabs-tabpane-hidden) {
      display: flex;
      flex-direction: column;
      flex: auto;
      overflow: auto;
      height: 100%;
    }

    :global .ant-tabs-nav {
      margin: 0;
    }
  }
  &__entitySelectWrapper {
    min-width: 130px;

    :first-child {
      margin: 0;
    }
  }
}
