.dictionaries {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;

  &__tabs {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;

    :global .ant-tabs-content-holder,
    :global .ant-tabs-content,
    :global .ant-tabs-tabpane:not(:global .ant-tabs-tabpane-hidden) {
      display: flex;
      flex-direction: column;
      flex: auto;
      overflow: auto;
      height: 100%;
    }

    :global .ant-tabs-nav {
      padding: 0 24px;
      margin: 0;
    }
  }
}
