.jobTypeDetails {
  margin: 24px;

  &__form {
    max-width: 480px;
    margin: 0 auto;
  }

  &__controls {
    display: flex;
    gap: 8px;
  }

  &__addPermissionsButton {
    margin-bottom: 24px;
  }
}
