.createBankProfile {
  display: flex;
  flex-direction: column;
  flex: auto;

  &__container {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  &__headerDivider {
    margin: 0;
  }

  &__content {
    padding: 24px 0;
  }

  .createBankProfile__steps {
    padding-top: 0;
  }

  &__stepProgressText {
    display: block;
    margin-top: 47px;
    text-align: center;
  }

  &__resultViewContent {
    justify-content: center;
  }
}

.resultViewContent {
  justify-content: center;
}
