.createHolidayCalendar {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;

  &__header {
    box-shadow: inset 0px -1px 0px #f0f0f0;
  }

  &__contentCard {
    margin: 24px;
  }

  &__form {
    max-width: 400px;
    margin: 0 auto;
  }

  &__dates {
    display: flex;
    gap: 16px;

    :global .ant-form-item {
      flex-grow: 1;
    }
  }
}
